body
{
    font-family: PT Sans;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;

    text-transform: uppercase;
}

a
{
    text-decoration: none;
}

.main-header
{
    background-color: black;
}

.main-footer
{
    color: white;
    background-color: #232323;
}

.main-header a
{
    color: white;
}

.main-navigation,
.main-header li,
.user-block
{
    display: inline-block;
}

.index-logo
{
    background-color: black;
}

.features
{
    color: white;
    background-color: black;
}

.index-content
{
    color: black;
    background-color: white;
}

h2,
.features-name
{
    font-size: 30px;
}

h3
{
    font-size: 24px;
}

time
{
    font-weight: normal;

    text-transform: none;
}

.btn
{
    color: white;
}

.shop-content
{
    color: black;
    background-color: white;
}

.paginator li
{
    display: inline-block;

    background-color: black;
}

.paginator li a
{
    color: white;
}

.paginator .active
{
    color: black;
    background-color: white;
}

.footer-contacts a
{
    text-decoration: underline;

    color: white;
}

.product-type
{
    font-family: PT Sans;
    font-weight: bold;

    text-transform: none;
}

.product-type
{
    font-weight: bold;
}

.current-crumb
{
    color: #aba9a7;
}

.vendor
{
    color: #aba9a7;
}

.breadcrumbs a
{
    color: black;
}
